body{
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.content {
    width: 960px;
    margin: 0 auto;
}


/* =====ヘッダー===== */

header {
    background-color: #333333;
    height: 45px;
}

header .inner {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 45px;
}
header h1 {
    position: absolute;
    left: 38.4px;
}


header nav {
    position: absolute;
    right: 38.4px;
}
nav ul {
    display: flex;
}
nav ul li {
    margin-right: 105px;
    line-height: 45px;
    width: 90px;
    height: 45px;
}
li:last-child {
    margin-right: 0;
}
header ul li a {
    color: #acacac;
    text-decoration: none;
    display: block;
    text-align: center;
}
header ul li a:hover{
    color: #ffffff;
}


/* ====トップイメージ==== */

.top-image {
    width: 960px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}
.top-image h1 {
    font-size: 40px;
    color: #1d1d1f;
    font-weight: bold;
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
}
.top-image h2 {
    font-size: 30px;
    color: #1d1d1f;
    font-weight: bold;
    position: absolute;
    top: 80px;
    text-align: center;
    width: 100%;
}


/* ====コンテンツ==== */

main {
    background-color: #f5f5f7;
    border-radius: 0 0 10px 10px;
    width: 640px;
    float: left;
    margin-bottom: 60px;
}
main p {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    padding: 30px;
}

aside {
    float: right;
    margin-top: 10px;
}
.info ul {
    margin-bottom: 20px;
}
.info h2 {
    color: #1d1d1f;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
}
.info ul li {
    list-style-type: none;
    font-size: 13px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #d0d0d0;
    line-height: 1.4;
    letter-spacing: 1.5px;
}
.info a {
    color: #1d1d1f;
    text-decoration: none;
}
.info a:hover {
    opacity: 0.6;
}
time {
    color: #6e6e73;
    font-size: 10px;
}

.banner {
    background-color: #6e6e73;
    border-radius: 15px;    
    width: 280px;
    height: 70px;
}
.banner img:hover {
    opacity: 0.9;
}


/* ====フッター==== */

footer {
    clear: both;
    background-color: #f5f5f7;
    height: 80px;
}
footer .inner {
    position: relative;
    width: 960px;
    height: 80px;
    margin: 0 auto;
}
.inner address {
    position: absolute;
    color: #1d1d1f;
    font-size: 13px;
    font-style: normal;
    line-height: 1.5;
    top: 20px;
    left: 50px;
}
.inner p {
    position: absolute;
    color: #1d1d1f;
    font-size: 13px;
    top: 35px;
    right: 50px;
}


/* ====学部紹介==== */

.course-page h1 {
    color: #f5f5f7;
}

article {
    width: 640px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
article section {
    background-color: #f5f5f7;
    width: 300px;
    border-radius: 10px;
}
section h2 {
    color: #000000;
    font-size: 10px;
    padding: 30px 0 15px 30px;
}
section p {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 40px 30px 30px;
}
.hougaku {
    margin: 0 40px 40px 0
}
.igaku {
    margin-bottom: 40px;
}
.kougaku {
    margin-right: 40px;
}
.bungaku {
    margin: 0 0 auto 0;
} 


/* ====アクセス==== */

.access-page h1 {
    color: #f5f5f7;
}
.map h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 10px 20px;
}
.map address {
    font-style: normal;
    line-height: 1.6;
    padding: 10px 0 20px 20px;
}